* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
}

@media (max-width: 992px) {
  .header {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .header__logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__nav {
    width: 100%;
  }
}

.nav__list {
  display: flex;
}

@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  margin-left: 28px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  color: #191919;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 500;
  transition: 0.3s;
}

.nav__link:hover {
  color: #10c9c3;
}

.nav__burger {
  position: absolute;
  top: 32px;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 767px) {
  .nav__burger {
    opacity: 1;
    visibility: visible;
  }
}

.burger span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #191919;
}

.burger span::before,
.burger span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #191919;
}

.burger span::before {
  top: calc(50% - 10px);
}

.burger span::after {
  top: calc(50% + 8px);
}

.main {
  height: 100vh;
  background: url("../img/main-bg.jpg") center/cover no-repeat;
}

.main__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main__content {
  width: 480px;
  margin-right: 30px;
}

.main__title {
  margin-bottom: 26px;
}

@media (max-width: 992px) {
  .main__title {
    margin-bottom: 20px;
  }
}

.main__text {
  padding-left: 5px;
  margin-bottom: 34px;
}

@media (max-width: 992px) {
  .main__text {
    margin-bottom: 28px;
  }
}

.main__button {
  margin-left: 5px;
  padding: 20px 44px;
}

@media (max-width: 767px) {
  .main__button {
    margin: auto;
  }
}

.title {
  color: #1d1d1d;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.title_big {
  font-size: 38px;
  letter-spacing: -0.38px;
}

@media (max-width: 992px) {
  .title_big {
    font-size: 32px;
  }
}

.text {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.08px;
}

.text_large {
  font-size: 18px;
  letter-spacing: 0.09px;
}

@media (max-width: 767px) {
  .text_large {
    font-size: 16px;
  }
}

.button {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #10c9c3;
  letter-spacing: 1.2px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.button:hover {
  color: #10c9c3;
  background-color: #fff;
  border: 1px solid #10c9c3;
}
