* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
}

@media (max-width: 992px) {
  .header {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .header__logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__nav {
    width: 100%;
  }
}

.nav__list {
  display: flex;
}

@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  margin-left: 28px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  color: #191919;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 500;
  transition: 0.3s;
}

.nav__link:hover {
  color: #10c9c3;
}

.nav__burger {
  position: absolute;
  top: 32px;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 767px) {
  .nav__burger {
    opacity: 1;
    visibility: visible;
  }
}

.burger span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #191919;
  transition: 0.2s;
}

.burger span::before,
.burger span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #191919;
  transition: 0.2s;
}

.burger span::before {
  top: calc(50% - 10px);
}

.burger span::after {
  top: calc(50% + 8px);
}

.burger._active span {
  width: 0;
}

.burger._active span::before {
  transform: rotate(45deg);
  top: 0;
}

.burger._active span::after {
  transform: rotate(-45deg);
  top: 0;
}

.main {
  height: 100vh;
  background: url("../img/main-bg.jpg") center/cover no-repeat;
}

.main__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main__content {
  width: 480px;
  margin-right: 30px;
}

.main__title {
  margin-bottom: 26px;
}

@media (max-width: 992px) {
  .main__title {
    margin-bottom: 20px;
  }
}

.main__text {
  padding-left: 5px;
  margin-bottom: 34px;
}

@media (max-width: 992px) {
  .main__text {
    margin-bottom: 28px;
  }
}

.main__button {
  margin-left: 5px;
  padding: 20px 44px;
}

@media (max-width: 767px) {
  .main__button {
    margin: auto;
  }
}

.signature {
  background-color: #fff;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .signature {
    padding: 80px 20px;
  }
}

.signature__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signature__title {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .signature__title {
    margin-bottom: 20px;
  }
}

.signature__container {
  max-width: 620px;
}

.signature__text {
  margin-bottom: 37px;
}

.skills {
  display: flex;
  background-color: #f8f9f9;
}

.skills__left-column {
  flex-basis: 50%;
}

@media (max-width: 992px) {
  .skills__left-column {
    flex-basis: 100%;
  }
}

.skills__box {
  margin: 164px 0 164px 100px;
}

@media (max-width: 992px) {
  .skills__box {
    max-width: 540px;
    margin: 110px auto;
  }
}

@media (max-width: 767px) {
  .skills__box {
    max-width: 280px;
    margin: 80px auto;
  }
}

.skills__title {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .skills__title {
    text-align: center;
  }
}

.skills__progress-item {
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

.skills__progress-item:last-child {
  margin-bottom: 0;
}

.skills__progress-item::before {
  content: '';
  width: 500px;
  height: 3px;
  background-color: #10c9c3;
  position: absolute;
  bottom: -20px;
  left: 0;
}

@media (max-width: 767px) {
  .skills__progress-item::before {
    width: 280px;
  }
}

.skills__progress-item::after {
  content: '';
  height: 3px;
  background-color: #d8d8d8;
  position: absolute;
  bottom: -20px;
}

.skills__progress-item span {
  display: inline-block;
  margin-left: 18px;
}

.skills__progress-item_ux::after {
  width: calc(500px / 100 * 25);
  left: calc(500px - (500px / 100 * 25));
}

@media (max-width: 767px) {
  .skills__progress-item_ux::after {
    width: calc(280px / 100 * 25);
    left: calc(280px - (280px / 100 * 25));
  }
}

.skills__progress-item_web::after {
  width: calc(500px / 100 * 10);
  left: calc(500px - (500px / 100 * 10));
}

@media (max-width: 767px) {
  .skills__progress-item_web::after {
    width: calc(280px / 100 * 10);
    left: calc(280px - (280px / 100 * 10));
  }
}

.skills__progress-item_marketing::after {
  width: calc(500px / 100 * 35);
  left: calc(500px - (500px / 100 * 35));
}

@media (max-width: 767px) {
  .skills__progress-item_marketing::after {
    width: calc(280px / 100 * 35);
    left: calc(280px - (280px / 100 * 35));
  }
}

.skills__right-column {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .skills__right-column {
    display: none;
  }
}

.stats {
  background-color: #10c9c3;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .stats {
    padding: 80px 0;
  }
}

.stats__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats__item {
  flex-basis: 25%;
  display: flex;
}

@media (max-width: 992px) {
  .stats__item {
    flex-basis: 50%;
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .stats__item {
    flex-basis: 100%;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stats__item:last-child {
    margin-bottom: 0;
  }
}

.stats__item-pic {
  padding: 0 28px;
}

@media (max-width: 767px) {
  .stats__item-pic {
    padding-bottom: 28px;
  }
}

.stats__item-info {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .stats__item-info {
    text-align: center;
  }
}

.stats__item-number {
  font-size: 18px;
  margin-bottom: 16px;
  letter-spacing: 0.54px;
}

@media (max-width: 767px) {
  .stats__item-number {
    margin-bottom: 10px;
  }
}

.stats__item-text {
  font-size: 12px;
  letter-spacing: 1.2px;
}

.works {
  transition: 0.3s;
}

.works__box {
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
}

@media (max-width: 767px) {
  .works__box {
    grid-template: repeat(4, 1fr)/1fr 1fr;
  }
}

@media (max-width: 485px) {
  .works__box {
    grid-template: repeat(8, 1fr)/1fr;
  }
}

.works__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works__more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 46px 0;
  background-color: #f5f5f5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.works__more:hover {
  background-color: #ebebeb;
}

.works__more span {
  font-size: 12px;
  color: #8e8e8e;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.process {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .process {
    padding: 80px 20px;
  }
}

.process__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.process__title {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .process__title {
    margin-bottom: 20px;
  }
}

.process__container {
  max-width: 500px;
}

.process__text {
  margin-bottom: 55px;
}

.process__video {
  max-width: 100%;
  height: auto;
}

.trends {
  background-color: #f5f5f5;
  padding: 100px 0 40px 0;
}

@media (max-width: 767px) {
  .trends {
    padding: 80px 20px 20px 20px;
  }
}

.trends__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trends__item {
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 60px;
  padding: 0 22px;
}

@media (max-width: 992px) {
  .trends__item {
    flex-basis: 33%;
  }
}

@media (max-width: 767px) {
  .trends__item {
    flex-basis: 50%;
  }
}

@media (max-width: 485px) {
  .trends__item {
    flex-basis: 100%;
  }
}

.trends__item-pic {
  margin-bottom: 30px;
}

.trends__title {
  color: #191919;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}

.trends__text {
  color: #787878;
  font-family: "Nunito Sans", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
}

.text-slider {
  padding: 100px 0;
  background-color: #10c9c3;
}

@media (max-width: 767px) {
  .text-slider {
    padding: 80px 0;
  }
}

.text-slider__box {
  width: 810px;
  height: 170px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 110px;
}

@media (max-width: 992px) {
  .text-slider__box {
    width: 610px;
    height: 200px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .text-slider__box {
    width: 310px;
    height: 240px;
    margin-bottom: 80px;
  }
}

.text-slider__items {
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  transition: 0.5s ease-out;
}

@media (max-width: 992px) {
  .text-slider__items {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .text-slider__items {
    height: 240px;
  }
}

.text-slider__items.first-is-active {
  left: 0;
}

.text-slider__items.second-is-active {
  left: -810px;
}

@media (max-width: 992px) {
  .text-slider__items.second-is-active {
    left: -610px;
  }
}

@media (max-width: 767px) {
  .text-slider__items.second-is-active {
    left: -310px;
  }
}

.text-slider__items.third-is-active {
  left: -1620px;
}

@media (max-width: 992px) {
  .text-slider__items.third-is-active {
    left: -1220px;
  }
}

@media (max-width: 767px) {
  .text-slider__items.third-is-active {
    left: -620px;
  }
}

.text-slider__item {
  color: #fff;
  width: 810px;
  text-align: center;
}

@media (max-width: 992px) {
  .text-slider__item {
    width: 610px;
  }
}

@media (max-width: 767px) {
  .text-slider__item {
    width: 310px;
  }
}

.text-slider__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.24px;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .text-slider__text {
    font-size: 16px;
    margin-bottom: 45px;
  }
}

.text-slider__name {
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 500;
  text-transform: uppercase;
}

.text-slider__dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 15px;
  margin: 0 auto;
}

.text-slider__dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.text-slider__dot_active {
  width: 10px;
  height: 10px;
}

.partners {
  padding: 64px 0;
}

.partners__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .partners__box {
    flex-direction: column;
  }
}

.partners__item {
  margin: 0 37.5px;
}

.partners__item:first-child {
  margin-left: 0;
}

.partners__item:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  .partners__item {
    margin: 37.5px 0;
  }
  .partners__item:first-child {
    margin-top: 0;
  }
  .partners__item:last-child {
    margin-bottom: 0;
  }
}

.send {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .send {
    padding: 80px 20px;
  }
}

.send__title {
  margin-bottom: 35px;
}

.send__container {
  max-width: 540px;
}

.send__text {
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 670px;
}

@media (max-width: 767px) {
  .form {
    width: 420px;
  }
}

@media (max-width: 445px) {
  .form {
    width: 290px;
  }
}

.form__first-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .form__first-line {
    flex-direction: column;
  }
}

.form__text-field {
  height: 48px;
  width: 100%;
}

.form__name {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .form__name {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.form__title {
  margin-bottom: 30px;
}

.form__textarea {
  height: 170px;
  margin-bottom: 30px;
}

.form__button {
  width: 188px;
  margin: 0 auto;
  padding: 22px 35px;
}

input {
  transition: 0.4s;
}

input::placeholder {
  font-family: "Nunito Sans", sans-serif, sans-serif;
  font-size: 15px;
  color: #787878;
  letter-spacing: 0.07px;
  padding-left: 20px;
}

input:focus {
  box-shadow: 0 0 6px #aaa;
}

footer {
  font-family: "Nunito Sans", sans-serif, sans-serif;
  color: #bcbcbc;
  background-color: #141414;
}

.footer {
  padding: 100px 0;
}

.footer__box {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer__box {
    flex-direction: column-reverse;
  }
}

.footer__flex {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer__flex {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}

.footer__piroll {
  width: 225px;
}

@media (max-width: 992px) {
  .footer__piroll {
    text-align: center;
    margin-bottom: 40px;
  }
}

.footer__inc {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .footer__inc {
    margin-bottom: 15px;
  }
}

.footer__copy {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
}

.footer__contact {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .footer__contact {
    text-align: center;
  }
}

.footer__email {
  margin-bottom: 10px;
}

.footer__phone {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.07px;
}

.footer__flex-right {
  flex-basis: 50%;
}

.footer__grid {
  padding-left: 30px;
  display: grid;
  grid-template: 1fr/repeat(5, 1fr);
}

@media (max-width: 992px) {
  .footer__grid {
    padding-left: 0;
  }
}

.footer__grid-item {
  width: 100px;
  grid-row: 1 / 2;
}

.footer__grid-item_menu-list-one {
  grid-column: 2 / 3;
}

.footer__grid-item_menu-list-two {
  grid-column: 3 / 4;
}

.footer__grid-item_menu-list-social {
  grid-column: 5 / 6;
}

@media (max-width: 992px) {
  .footer__grid-item {
    display: flex;
    justify-content: center;
  }
}

.footer__list li {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.07px;
  line-height: 24px;
}

.footer__link {
  color: #bcbcbc;
  text-decoration: none;
  transition: 0.2s;
}

.footer__link:hover {
  text-decoration: underline;
  color: #fff;
}

.title {
  color: #1d1d1d;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

.title_big {
  font-size: 38px;
  letter-spacing: -0.38px;
}

@media (max-width: 992px) {
  .title_big {
    font-size: 32px;
  }
}

.text {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.08px;
  text-align: center;
}

.text_large {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.09px;
}

@media (max-width: 767px) {
  .text_large {
    font-size: 16px;
  }
}

.button {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #10c9c3;
  letter-spacing: 1.2px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.button:hover {
  color: #10c9c3;
  background-color: #fff;
  border: 1px solid #10c9c3;
}
