@import 'nullstyle';
@import 'fonts';
@import 'colors';
@import 'variables';

html, body {
	font-family: $font-main;
}

body {
	@media (max-width: 767px) {
		&._locked {
			height: 100%;
			margin: 0;
			overflow: hidden;
		}
	}
}


.wrapper {
	width: 100%;
}

.container {
	max-width: 1200px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		padding: 0 30px;
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	@media (max-width: 767px) {
		position: fixed;
	}
}

.header {

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	position: relative;
	z-index: 1;
	@media (max-width: 992px) {
		justify-content: center;
	}

	&__logo {
		transition: 0.3s;
		position: relative;
		z-index: 3;
		@media (max-width: 992px) {
			opacity: 0;
			visibility: hidden;
			&._active {
				opacity: 1;
				visibility: visible;
				filter: invert(1);
			}
		}
	}

	&__nav {
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.nav {
	

	&__list {
		display: flex;
		transition: 0.3s;
		@media (max-width: 767px) {
			background-color: $color-primary;
			flex-direction: column;
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			left: -30px;
			align-items: center;
			justify-content: space-between;
			padding: 30px 0;
			opacity: 0;
			visibility: hidden;
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__item {
		margin-left: 28px;
		&:first-child {
			margin-left: 0;
		}
		@media (max-width: 767px) {
			margin: 0;
		}
	}

	&__link {
		color: #191919;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			color: $color-primary;
		}
		@media (max-width: 767px) {
			color: #fff;
			font-size: 24px;
		}
	}

	&__burger {
		position: absolute;
		top: 32px;;
		right: 32px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s;
		z-index: 4;
		opacity: 0;
		visibility: hidden;
		@media (max-width: 767px) {
			opacity: 1;
			visibility: visible;
		}
	}
}

.burger {
	& span {
		position: absolute;
		top: calc(50% - 2px);
		left: 0;
		width: 40px;
		height: 2px;
		background-color: #191919;
		transition: 0.2s;
	}
	& span::before,
	& span::after {
		content: '';
		position: absolute;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: #191919;
		transition: 0.2s;
	}
	& span::before {
		top: calc(50% - 10px);
	}
	& span::after {
		top: calc(50% + 8px);
	}

	&._active span {
		width: 0;
		&::before,
		&::after {
			background-color: #fff;
			top: 0;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
			
		}
	}
}

.main {

	height: 100vh;
	background: url('../img/main-bg.jpg') center / cover no-repeat;

	&__box {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__content {
		width: 480px;
		margin-right: 30px;
	}

	&__title {
		margin-bottom: 26px;
		@media (max-width: 992px) {
			margin-bottom: 20px;
		}
	}

	&__text {
		padding-left: 5px;
		margin-bottom: 34px;
		@media (max-width: 992px) {
			margin-bottom: 28px;
		}
	}

	&__button {
		margin-left: 5px;
		padding: 20px 44px;
		@media (max-width: 767px) {
			margin: auto;
		}
	}
}

.signature {

	background-color: #fff;
	padding: 100px 0;
	@media (max-width: 767px) {
		padding: 80px 20px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		margin-bottom: 40px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__container {
		max-width: 620px;
	}

	&__text {
		margin-bottom: 37px;
	}

	&__pic {
	}
}

.skills {

	display: flex;
	background-color: #f8f9f9;

	&__left-column {
		flex-basis: 50%;
		@media (max-width: 992px) {
			flex-basis: 100%;
		}
	}

	&__box {
		margin: 164px 0 164px 100px;
		@media (max-width: 992px) {
			max-width: 540px;
			margin: 110px auto;
		}
		@media (max-width: 767px) {
			max-width: 280px;
			margin: 80px auto;
		}
	}

	&__title {
		margin-bottom: 40px;
		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__progress {
	}

	&__progress-item {
		margin-bottom: 40px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1.2px;
		color: #000;
		text-transform: uppercase;
		margin-bottom: 60px;
		position: relative;

		@media (max-width: 767px) {
			&._burger-is-active {
				opacity: 0;
				visibility: hidden;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: '';
			width: 500px;;
			height: 3px;
			background-color: $color-primary;
			position: absolute;
			bottom: -20px;
			left: 0;
			@media (max-width: 767px) {
				width: 280px;
			}
		}
		&::after {
			content: '';
			height: 3px;
			background-color: #d8d8d8;
			position: absolute;
			bottom: -20px;
		}

		& span {
			display: inline-block;
			margin-left: 18px;
		}

		&_ux {
			&::after {
				width: calc(500px / 100 * 25);
				left: calc(500px - (500px / 100 * 25));
				@media (max-width: 767px) {
					width: calc(280px / 100 * 25);
					left: calc(280px - (280px / 100 * 25));
				}
			}
		}

		&_web {
			&::after {
				width: calc(500px / 100 * 10);
				left: calc(500px - (500px / 100 * 10));
				@media (max-width: 767px) {
					width: calc(280px / 100 * 10);
					left: calc(280px - (280px / 100 * 10));
				}
			}
		}

		&_marketing {
			&::after {
				width: calc(500px / 100 * 35);
				left: calc(500px - (500px / 100 * 35));
				@media (max-width: 767px) {
					width: calc(280px / 100 * 35);
					left: calc(280px - (280px / 100 * 35));
				}
			}
		}
	}

	&__right-column {
		flex-basis: 50%;
		display: flex;
		justify-content: flex-end;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__bg {
	}
}

.stats {

	background-color: $color-primary;
	padding: 100px 0;
	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		flex-basis: 25%;
		display: flex;
		@media (max-width: 992px) {
			flex-basis: 50%;
			margin-bottom: 50px;
			justify-content: center;
		}
		@media (max-width: 767px) {
			flex-basis: 100%;
			margin-bottom: 50px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item-pic {
		padding: 0 28px;
		@media (max-width: 767px) {
			padding-bottom: 28px;
		}
	}

	&__item-info {
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		@media (max-width: 767px) {
			text-align: center;
		}
	}

	&__item-number {
		font-size: 18px;
		margin-bottom: 16px;
		letter-spacing: 0.54px;
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
	}

	&__item-text {
		font-size: 12px;
		letter-spacing: 1.2px;
	}
}

.works {
	transition: 0.3s;

	&__box {
		display: grid;
		grid-template: 1fr 1fr / repeat(4, 1fr);
		@media (max-width: 767px) {
			grid-template: repeat(4, 1fr) / 1fr 1fr;
		}
		@media (max-width: 485px) {
			grid-template: repeat(8, 1fr) / 1fr;
		}
	}

	&__item {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 46px 0;
		background-color: #f5f5f5;
		transition: 0.2s ease-in-out;
		cursor: pointer;
		&:hover {
			background-color: darken(#f5f5f5, 4%);
		}

		& span {
			font-size: 12px;
			color: #8e8e8e;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}
	}
}

.process {

	padding: 100px 0;
	@media (max-width: 767px) {
		padding: 80px 20px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		margin-bottom: 40px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__container {
		max-width: 500px;
	}

	&__text {
		margin-bottom: 55px;
	}

	&__video {
		max-width: 100%;
		height: auto;
	}
}

.trends {
	background-color: #f5f5f5;
	padding: 100px 0 40px 0;
	@media (max-width: 767px) {
		padding: 80px 20px 20px 20px;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		flex-basis: 25%;
		text-align: center;
		margin-bottom: 60px;
		padding: 0 22px;
		@media (max-width: 992px) {
			flex-basis: 33%;
		}
		@media (max-width: 767px) {
			flex-basis: 50%;
		}
		@media (max-width: 485px) {
			flex-basis: 100%;
		}
	}

	&__item-pic {
		margin-bottom: 30px;
	}

	&__title {
		color: #191919;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin-bottom: 20px;
	}

	&__text {
		color: #787878;
		font-family: $font-secondary, sans-serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.08px;
	}
}

.text-slider {

	padding: 100px 0;
	background-color: $color-primary;
	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&__box {
		width: $slider-width;
		height: $slider-height;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		margin-bottom: 110px;
		transition: 0.2s;
		@media (max-width: 992px) {
			width: $slider-width-less;
			height: $slider-height-less;
			margin-bottom: 80px;
		}
		@media (max-width: 767px) {
			width: $slider-width-min;
			height: $slider-height-min;
			margin-bottom: 80px;
			&._burger-is-active {
				z-index: -1;
			}
		}
	}

	&__items {
		height: $slider-height;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-wrap: nowrap;
		transition: 0.5s ease-out;
		@media (max-width: 992px) {
			height: $slider-height-less;
		}
		@media (max-width: 767px) {
			height: $slider-height-min;
		}

		&.first-is-active {
			left: 0;
		}
		&.second-is-active {
			left: -$slider-width;
			@media (max-width: 992px) {
				left: -$slider-width-less;
			}
			@media (max-width: 767px) {
				left: -$slider-width-min;
			}
		}
		&.third-is-active {
			left: -$slider-width * 2;
			@media (max-width: 992px) {
				left: -$slider-width-less * 2;
			}
			@media (max-width: 767px) {
				left: -$slider-width-min * 2;
			}
		}
	}
	&__item {
		color: #fff;
		width: $slider-width;
		text-align: center;
		@media (max-width: 992px) {
			width: $slider-width-less;
		}
		@media (max-width: 767px) {
			width: $slider-width-min;
		}

		&_first {
		}
		&_second {
		}
		&_third {
		}
	}

	&__text {
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 0.24px;
		margin-bottom: 35px;
		@media (max-width: 767px) {
			font-size: 16px;
			margin-bottom: 45px;
		}
	}

	&__name {
		font-size: 12px;
		letter-spacing: 1.2px;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__dots {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 50px;
		height: 15px;
		margin: 0 auto;
	}

	&__dot {
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: #fff;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.3s;

		&_active {
			width: 10px;
			height: 10px;
		}
	}
}

.partners {

	padding: 64px 0;

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}

	&__item {
		margin: 0 37.5px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		@media (max-width: 992px) {
			margin: 37.5px 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.send {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	@media (max-width: 767px) {
		padding: 80px 20px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__container {
		max-width: 540px;
	}

	&__text {
		margin-bottom: 40px;
	}

	&__form {
	}
}

.form {
	display: flex;
	flex-direction: column;
	width: 670px;
	@media (max-width: 767px) {
		width: 420px;
	}
	@media (max-width: 445px) {
		width: 290px;
	}

	&__first-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__text-field {
		height: 48px;
		width: 100%;
	}

	&__name {
		margin-right: 30px;
		@media (max-width: 767px) {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

	&__email {
	}

	&__title {
		margin-bottom: 30px;
	}

	&__textarea {
		height: 170px;
		margin-bottom: 30px;
	}

	&__button {
		width: 188px;
		margin: 0 auto;
		padding: 22px 35px;
	}
}

input {
	transition: 0.4s;
}
input::placeholder {
	font-family: $font-secondary, sans-serif;
	font-size: 15px;
	color: #787878;
	letter-spacing: 0.07px;
	padding-left: 20px;
}
input:focus {
	box-shadow: 0 0 6px #aaa;
}

footer {
	font-family: $font-secondary, sans-serif;
	color: #bcbcbc;
	background-color: #141414;
}

.footer {

	padding: 100px 0;
	@media (max-width: 767px) {
		padding: 80px 10px;
	}

	&__box {
		height: 100%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 992px) {
			flex-direction: column-reverse;
		}
	}

	&__flex {
		flex-grow: 1;
		flex-basis: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media (max-width: 992px) {
			flex-direction: column;
			align-items: center;
			margin-top: 60px;
		}
	}

	&__piroll {
		width: 225px;
		@media (max-width: 992px) {
			text-align: center;
			margin-bottom: 40px;
		}
	}

	&__inc {
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.18px;
		margin-bottom: 25px;
		@media (max-width: 992px) {
			margin-bottom: 15px;
		}
	}

	&__copy {
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.07px;
	}

	&__contact {
		font-size: 15px;
		font-weight: 400;
		@media (max-width: 992px) {
			text-align: center;
		}
	}

	&__email {
		margin-bottom: 10px;
	}
	&__phone {
		font-family: $font-res;
		letter-spacing: 0.07px;
	}

	&__flex-right {
		flex-basis: 50%;
	}

	&__grid {
		padding-left: 30px;
		display: grid;
		grid-template: 1fr / repeat(5, 1fr);
		@media (max-width: 992px) {
			padding-left: 0;
		}
	}

	&__grid-item {
		width: 100px;
		grid-row: 1 / 2;
		&_menu-list-one {
			grid-column: 2 / 3;
		}
		&_menu-list-two {
			grid-column: 3 / 4;
		}
		&_menu-list-social {
			grid-column: 5 / 6;
		}
		@media (max-width: 992px) {
			display: flex;
			justify-content: center;
		}
		@media (max-width: 767px) {
			width: 90px;
		}
	}

	&__list {
		& li {
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0.07px;
			line-height: 24px;
		}
	}

	&__link {
		color: #bcbcbc;
		text-decoration: none;
		transition: 0.2s;
		&:hover {
			text-decoration: underline;
			color: #fff;
		}
	}
}



.title {
	color: #1d1d1d;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.3px;
	@media (max-width: 767px) {
		font-size: 24px;
	}

	&_big {
		font-size: 38px;
		letter-spacing: -0.38px;
		@media (max-width: 992px) {
			font-size: 32px;
		}
		
	}
}

.text {
	color: #787878;
	font-family: "Nunito Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.08px;
	text-align: center;

	&_large {
		text-align: left;
		font-size: 18px;
		letter-spacing: 0.09px;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}

.button {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: $color-primary;
	letter-spacing: 1.2px;
	border: 1px solid transparent;
	transition: 0.3s;

	&:hover {
		color: $color-primary;
		background-color: #fff;
		border: 1px solid $color-primary;
	}
}

