@import 'nullstyle';
@import 'fonts';
@import 'colors';

html, body {
	font-family: $font-main;
}

.wrapper {
	width: 100%;
}

.container {
	max-width: 1200px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		padding: 0 30px;
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header {

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	position: relative;
	@media (max-width: 992px) {
		justify-content: center;
	}

	&__logo {
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__nav {
		@media (max-width: 767px) {
			width: 100%;

		}
	}
}

.nav {
	

	&__list {
		display: flex;
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__item {
		margin-left: 28px;
		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		color: #191919;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			color: $color-primary;
		}
	}

	&__burger {
		position: absolute;
		top: 32px;;
		right: 0;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s;
		opacity: 0;
		visibility: hidden;
		@media (max-width: 767px) {
			opacity: 1;
			visibility: visible;
		}
	}
}

.burger {
	& span {
		position: absolute;
		top: calc(50% - 2px);
		left: 0;
		width: 40px;
		height: 2px;
		background-color: #191919;
	}
	& span::before,
	& span::after {
		content: '';
		position: absolute;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: #191919;
	}
	& span::before {
		top: calc(50% - 10px);
	}
	& span::after {
		top: calc(50% + 8px);
	}
}

.main {

	height: 100vh;
	background: url('../img/main-bg.jpg') center / cover no-repeat;

	&__box {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__content {
		width: 480px;
		margin-right: 30px;
	}

	&__title {
		margin-bottom: 26px;
		@media (max-width: 992px) {
			margin-bottom: 20px;
		}
	}

	&__text {
		padding-left: 5px;
		margin-bottom: 34px;
		@media (max-width: 992px) {
			margin-bottom: 28px;
		}
	}

	&__button {
		margin-left: 5px;
		padding: 20px 44px;
		@media (max-width: 767px) {
			margin: auto;
		}
	}
}

.title {
	color: #1d1d1d;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.3px;

	&_big {
		font-size: 38px;
		letter-spacing: -0.38px;
		@media (max-width: 992px) {
			font-size: 32px;
		}
		
	}
}

.text {
	color: #787878;
	font-family: "Nunito Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.08px;

	&_large {
		font-size: 18px;
		letter-spacing: 0.09px;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}

.button {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: $color-primary;
	letter-spacing: 1.2px;
	border: 1px solid transparent;
	transition: 0.3s;

	&:hover {
		color: $color-primary;
		background-color: #fff;
		border: 1px solid $color-primary;
	}
}

